﻿@model IEnumerable<SuperZapatos.Web.Models.Store>


<div class="list-group">
    @foreach (var store in Model)
    {
        var id = ViewBag.id;
        var newClass = @store.store_id != id ? "list-group-item" : "list-group-item active";
        
        <a href="@Url.Action("StoreArticles", "store", new { id = @store.store_id })" class="@newClass">@store.name</a>
    }
</div>
